
.header-fix {
  padding-top: 5rem;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 10;


  transition: all 500ms;

  -webkit-box-shadow: 0px 17px 21px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 17px 21px -12px rgba(0,0,0,0.75);
box-shadow: 0px 17px 21px -12px rgba(0,0,0,0.75);
}