@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600&display=swap');

:root {
    --opensans:'Open Sans', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

.header-bg-img, .button, .card-btn, .count-btn, .links,.heading, .heading .row .col-lg-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.count-btn,.card-btn {
    padding: .7rem 2rem;
    border-radius: 100px;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none !important;
    transition: all 500ms;
}
.card-btn:hover,.count-btn:hover {
    color: white;
}

.button i, .nav .nav-item  {
    padding: 0 1rem;
}
.side-btn  {
    margin: 0 1rem;
}

.header-bg-img-1 {
    background: url("../img/header-1.jpg");
}
.header-bg-img-2 {
    background: url("../img/slide-2.jpg");
    
}
.header-bg-img-3 {
    background: url("../img/slide-3.jpg");
}
.header-bg-img {
    width: 100%;
    height: 100vh;
    background-position: left top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    

.header-img {
    flex-direction: column;
    justify-content: center;


    margin-top: 3rem;
}


.img-1 {
    justify-content: center;
    align-items: center;

    padding-right: 0;
}
.img-2 {
    align-items: center;
}
.img-1 img {
}
.img-1 img,.img-2 img {
    width: 100%;
}

.img-3 {
    align-items: flex-start;
    justify-content: center;
    padding-top: 1rem;
}

.slider {
    padding-top: 12rem;
}
.img-3 img {
    width: 100%;
}


.header-text {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;
    text-shadow: 4px 3px 5px #000;

    text-align: center;
}
.header-text p {
    font-size: 1.2rem;
    font-family: var(--opensans);
    font-weight: 600;
}

.button {
    padding: .7rem 1.5rem;
    border-radius: 100px;
    border: none;

    text-transform: uppercase;
    font-weight: bold;
    color: #d52243;
    background-color: #fff;

    outline: none;

    transition: all 500ms;
}

.button:hover {
    transform: translateY(-3px);
    -webkit-box-shadow: 14px 17px 22px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 17px 22px -15px rgba(0,0,0,0.75);
box-shadow: 14px 17px 22px -15px rgba(0,0,0,0.75);
}
.button:active {
    transform: translateY(0px);
}

.button i {
    font-size: 2rem !important;
    color: #d52243;
}


.navbar {
    padding: 0 2rem;
}

.navbar-brand {
    width: 20%;
    height: 100%;
}
.navbar-brand img {
    width:50%;
    height: 100%;
    padding: 0;
    
}

.navbar-brand img:nth-child(1) {
    width: 20%;
}

.nav .nav-item {
    text-align: center;
    position: relative;
    margin: 0 2px;
}
.nav .nav-item a {
    color: #000 !important;
    transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.nav .nav-item a::after , .nav .nav-item a::before{
    content: "";
    position: absolute;
    
    background-color: #d52243;
    
    transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.nav .nav-item a::after{
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 0px;
    height: 0%;
}
.nav .nav-item a::before{
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 0%;
    height: 0%;
}

.nav .nav-item a:hover::after,.nav .nav-item a:hover::before {
    width: 100%;
    height: 5%;
}
.nav a.active {
    color: #d52243 !important;
    font-weight: bold;
}

.nav-left-icons {
    width: 30% !important;
    flex-direction: row;
}


.side-btn {
    border: 5px double rgb(194, 194, 194);
    line-height: 0;
    padding: .6rem;
    
    transform: rotate(45deg);
}
.side-btn i {
    transform: rotate(-45deg);
    font-size: 1.4rem;
    
    color: black;
}
.side-btn i:hover {
    color: #d52243;
}

.main-img, .main-text {
    display: flex;
    justify-content: center;

    padding: 2rem 0;
}


.main-img img {
    width: 30%;
}

.main-text {
    text-align: center;
}
.main-text p {
    width: 50%;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--opensans);
}



.cards .card {
    margin: 2rem 0;;
    border: none;
    text-align: center;
    height: 70%;
}

.cards .card img {
    width: 50%;
    margin: 0 auto;
}

.card-title {
    font-family: var(--opensans);
    font-weight: 600;
}
.card-text {
    font-family: var(--opensans);
    margin: 1rem 0;
}
.card-btn {
    border: 1px solid #d52243;
    color: #d52243;
    width: 80%;
    margin: 0 auto;
}

.card-btn:hover {
    background-color: #d52243;
}

.countdown {
    padding: 0;
    
    background: url("../img/countdown.jpg");
    background-position: right top;
    background-size: 100%;
    background-repeat: no-repeat;

    width: 100%;
}
.countdown .row {
    width: 100%;
    height: 70vh;
    margin: 0;

    align-items: center;
}

.countdown-text {
    text-align: center;
    font-family: var(--opensans);
    align-items: center;
}
.countdown-text .heading {
    flex-direction: column;
}
.countdown-text h2 {
    margin: 3rem 0 .5rem;
    font-weight: bold;
}
.countdown-text h4 {
    font-size: 1rem;
    font-style: italic;
    color: #8ca956
}

.paragraph h1 {
    color: #8ca956;
    font-weight: bold;
}
.paragraph p {
    font-style: italic;
}
.paragraph li p {
    color: #000;
}

.main-btn {
    width: 50%;
}
.count-btn {
    border: 1px solid #8ca956;

    color: #8ca956;
    
    margin: .4rem .5rem 1rem;

    background-color: white;
}
.count-btn i {
    font-size: 1.4rem;
}

.count-btn:hover {
    background-color: #8ca956;
}



.rate .heading {
    margin: 4rem 0;
    position: relative;
    flex-direction: column;
}
.heading  .bg-flower-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 9%;
}
.rate .row div {
    padding: 0;
}
.rate hr {
    margin: 2.5rem 0;
    border: 2px solid #dadada;
    border-radius: 100px;
}
.rate h1 {
    font-size: clamp(1.4rem, 2vw, 2rem);
    font-family: var(--opensans);
    font-weight: 600;
}

.rate .head-text p {
    padding: 2rem 0;
}
.rate p {
    color: #8ca956;
    text-align: center;
    font-style: var(--opensans);
    font-style: italic;
    font-weight: 600;

}

/* cards */


.shop-item {
  width: 20rem;
  height: 25rem;

  border-radius: 15px;

  padding: 1.5rem;
  margin: 2rem 1rem;
  background: white;
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card-content {
    z-index: 5;
    margin: 1rem 0;
    
}
.shop-item .card-content h4 {
    font-size: 1.2rem;
    color: #000;
    font-family: var(--opensans);
    font-weight: bold;
    padding: 1rem 0 .2rem;
}

.card-content p {
    font-size: 1.3rem;
}

/* rating stars */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1.3rem; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

/* rating stars end*/

.shop-item:hover {
  transform: translateY(-5px);
}
.shop-item:hover:before {
  opacity: 1;
}


.shop-item .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.info i {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 100px;
    margin: 8rem 0 3.5rem;
    font-size: 1.3rem;
    transition: all 500ms;
}
.info i:hover {
    background-color: white;
    color: #000;
}

.shop-item:hover .info {
  opacity: 1;
  transform: translateY(0px);
}


.shop-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(255,255,255, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.shop-item img {
    width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}



.shop-item .info h4 {
  margin: 1rem .5rem;
}


.shop-item .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.shop-item .info button:hover {
  background: dodgerblue;
  color: white;
}
/* cards end */

.leaf {
    position: absolute;
    z-index: 3;
}
.leaf-1 {
    margin: 15rem 0 0 0;
    width: 40%;
    left: -25rem
}
.leaf-3 {
    right: 2rem;
}
.leaf-4 {
    margin: 15rem 0 0 0;
    width: 40%;
    right: -35rem
}


.process-img h1 {
    font-style: var(--opensans);
    font-weight: bold;
    font-size: clamp(.55rem, 2vw, 1.3rem);
    text-align: center;
}

.process-img .col-3 img{
    width: 60%;
    height: 50%;
}
.process-img .col-3, .arrow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.arrow-1 {
    justify-content: flex-end !important;
}










.newsletter {
    padding: 6rem 0;
    background-color: #dadada;
}
.newsletter .news-info {
    font-family: var(--opensans);
    font-weight: 600;
    font-size: 1.2rem;
}

input[type=email] {
    border: 1px solid #dadada;
    padding: 1rem 2rem;
    margin: 1rem 0 .4rem;
    width: 70%;

    outline: none;
}
input[type=submit] {

    margin: 0 1rem;

    background-color: #8ca956;
    color: white;
    border-radius: 100px;
    font-weight: bold;
    border: none;
    width: 25%;
    padding: 1rem 0;
    margin: 1rem 0;

    outline: none;

    transition: all 300ms;
}

input[type=submit]:hover {
    background-color: white;
    color: #8ca956;
}
input[type=submit]:active {
    background-color: #8ca956;
    color: white;
}


/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4rem 0 0;
}
ul {
    list-style: none
}
.footer-list {
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-list:first-child {
    padding-left: 3rem;
}

.list-header {
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
}
.footer-list ul li a, .end a{
    color: #A9A9A9 !important;
    margin: .5rem 0;
    display: block;
}
.end {
    width: 100%;
    padding: 2rem 2rem 1rem;
}
.end a {
    display: inline;
    padding: 0rem .5rem 0 0;
}
.footer-web {
    color: #8ca956
}
.icons i{
    font-size: 1.3rem;
    border: 1px solid #A9A9A9;
    border-radius: 100px;

    padding: .7rem;
    margin: .7rem .3rem;
}
.footer-list ul li a:hover {
    color: #000 !important;
}
.footer-list ul li .facebook:hover {
    color: #3589EF !important;
}
.footer-list ul li .twitter:hover {
    color: #1DA1F2 !important;
}
.footer-list ul li .instagram:hover {
    background: -webkit-linear-gradient(#fb3958,#125688);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-list ul li .linkedin:hover {
    color: #2467C2 !important;
}


.side-footer {
    color: black;
}

.side-footer h5 {
    font-size: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
.side-footer p {
    font-size: .8rem;
}

/* Footer end */

@media (max-width: 990px) {
    .navbar-brand {
    width: 50%;
    height: 100%;
}
    .img-1, .img-3, .countdown-empty {
        display: none;
    }
    .nav-left-icons {
        width: 100%;
    }
    .main-img img {
    width: 60%;
    height: 50%;
}
.links {
    display: flex;
    flex-direction: column;
}
    .main-text p {
        width: 80%;
    }
    .main-btn {
    width: 70%;
}

.leaf {
    display: none;
}

.leaf-hand img {
    width: 50% !important;
}

.newsletter {
    padding: 3rem 0;
}

.countdown, .header-bg-img {
    background-size: auto 100%;
}

.countdown .row {
    height: auto;
}
.bg-flower-img {
    left: 50%;
    top: 1%;
}

input[type=email] {
    width: 100%;
}
input[type=submit] {
    width: 50%;
}
}